###############################################################################
# Editor                                                                      #
###############################################################################
# JetBrains (IntelliJ IDEA and others)
.idea/
*.iml

###############################################################################
# Build                                                                       #
###############################################################################
*.cm[aiox]
*.cmx[as]
*.o
*.a
*.so
/test/minigzip
/test/minizip
